#Quizzmsg {
    color: red;
}

#rechercheText {
    margin-left: 10px;
}

#actionRecherche {
    margin-left: 10px;
}

.title {
    margin-left: 10px;
    color: black;
}

#categorieForm {
    display: block;
}

#content {
    margin-left: 10px;
}

#message {
    visibility: visible;
}

.CreerBtn {
    margin-bottom: 250px;
}


