#Quizzmsg {
    color: red;
}

#rechercheText {
    margin-left: 10px;
}

#actionRecherche {
    margin-left: 10px;
}

.title {
    margin-left: 10px;
    color: black;
}

#categorieForm {
    display: block;
}

#content {
    margin-left: 10px;
}

#message {
    visibility: visible;
}

.CreerBtn {
    margin-bottom: 250px;
}

/* */

.elements {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
    padding: 0;
    margin: 0;
}

.elements > li {
	width: 100%;
	border: 1px solid #CCCCCC;
	padding: .5rem;
    list-style-type: none;
    overflow: auto;
}

.elements > li:hover {
	background-color: #D2D2D2;
}

/* Desktop */
@media screen and (min-width: 600px) {
	.elements { flex-direction: row; }

	.elements > li {
		width: 38%;
		flex-basis: 400px;
		flex-grow: 1;
		margin-left: 0.5%;
		margin-right: 0.5%;
	}
}
